  /* Page Stylesr */


html {
    margin: auto;
    max-width: 2000px;
}
body {
    background:white;
    margin: 0px;
    max-width: 2000px;
}

.card-link {
    color: inherit; 
    text-decoration: inherit;
  }


main {
    margin: 5%;
    margin-top: 0px;
}

  /* Homepage Header */

  header {
      text-align: center;
      justify-content: center;
      max-width: 2000px;
  }

  .HP-header {
    background-image: url("https://www.wallpaperflare.com/static/962/712/967/ultrawide-landscape-nature-photography-wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: left 50% bottom 29.5%;
    max-height: 290px;
    max-width: 2000px;
  }

  .flex-break {
      width: 100%;
  }

  .quote {
      padding: 15px;
      margin-left: 30px;
      display: inline;
      font-style: italic;
  }

  @media screen and (max-width: 476px) {
    .quote {
        display: none;
    }
  }
  


.quote-ref {
    font-style: italic;
    font-weight: lighter;
}

#HP-title {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    font-family: 'Permanent Marker', cursive;
}

.hp-icons {
    max-width: 50px;
    max-height: 50px;
    margin-left: 15px;
}


.hp-container {
    vertical-align: middle;
    text-align: left;
    height: 290px;
    max-width: 2000px;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: left;
}

nav {
    position: sticky;
    top: 0;
}

.float-nav {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    max-width: 2000px;
    text-align: right;
}

.float-nav:hover {
    background-color: rgba(0, 0, 0, 1);
}

.nav-link {
    margin-right: 20px;
    font-size: 20px;
    color: white;
}


.nav-link:hover {
    text-decoration: underline;
}

  /* Homepage Header */

 /* Homepage body */

.hp-posts {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10px;
}


.columns {
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    flex: 1 1 200px;
    width: auto;
    min-width: 0;
    border: 5px solid rgb(146, 146, 146);
    border-radius: 25px;
    margin: 5px;
}

.column:hover {
    border: 5px solid rgb(0, 0, 0);
}

.hp-post-title {
    font-size: 18px;
    margin: 5px;
}

.post-image {
    margin: 5px;
}

/* Homepage body */



    /* Blog Posts*/

    .content-div {
    height: auto;
    padding: 10px;
    padding-bottom: 20px;
    margin: 15px;
    background-color: rgb(146 146 146);
    border: 0px solid transparent;
    border-radius: 25px;
    margin-top: 20px;
}

main h1, main h2 {
    margin: 15px, 0px, 15px, 0px;
    color: black;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    text-align: center;
    font-weight:lighter;
}

h3 {
    color: black;
}

.paragraph {
    text-align: left;
    color: black;
    font-size: 16px;
    padding-left: 15px;
    margin-bottom: 0px;
    margin-top: 15px;
}

.breakline {
    color: black;
    font-size: 16px;
    margin: 0px;
    text-align: left;
    padding-left: 15px;
}

.code {
    color: orange;
    font-style: italic;
    background-color: black;
    font-family: 'Ubuntu Mono', monospace;
}

.bold {
    font-weight: bold;
    text-decoration: underline;
}


.content-div-split2 {
    height: auto;
    padding: 10px;
    padding-bottom: 20px;
    border: 0px solid transparent;
    background-color: transparent;
    border-radius: 25px;
    margin-top: 10px;
    justify-content: center;
    display: flex;
    margin: 5px;
}



.left {
    width: 40%;
    margin: 15px;
    padding-bottom: 20px;
    height: auto;
    background-color: rgb(146 146 146);
    border: 0px solid transparent;
    border-radius: 25px;
    display: inline-block;
}

.right {
    width: 40%;
    margin: 15px;
    margin-bottom: 20px;
    height: auto;
    background-color: rgb(146 146 146);
    border: 0px solid transparent;
    border-radius: 25px;
    display: inline-block;
}
.list {
    padding: 0px;
    text-align: center;
}

.centered {
    text-align: center;
}

.list li{
    display: block;
    background-color: transparent;
    padding: 0px;
}

.image-split-2 {
    height: auto;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 20px;
    border: 0px solid transparent;
    border-radius: 25px;
    margin-top: 0px;
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 5px;
}

.left-image {
    width: auto;
    margin: 15px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 20px;
    height: 40%;
    background-color: rgb(146 146 146);
    border: 0px solid transparent;
    border-radius: 25px;
    display: inline-block;
    vertical-align: top;
}

.right-image {
    width: auto;
    margin: 15px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 20px;
    height: 40%;
    background-color: rgb(146 146 146);
    border: 0px solid transparent;
    border-radius: 25px;
    display: inline-block;
    vertical-align: top;
}

.pad-image {
    max-height: 200px;
    width: auto;
    margin: 15px;

}

.wide-image{
    max-width: 168px;
    height: auto;
    width: auto;
}

.inline-p {
    display: inline;
}
.note {
    color: black;
    font-size: 16px;
    margin: 0px;
    padding-left: 15px;
    font-weight: lighter;
}

.use {
    color: black;
    font-size: 16px;
    margin: 0px;
    padding-left: 15px;
    font-weight: lighter;
}

.subtitle {
    color: black;
    font-size: 16px;
    margin: 0px;
    padding-left: 15px;
    font-weight: lighter;
    text-align: left;
    font-family: 'Permanent Marker', cursive;
    margin-top: 15px;
}


/* Blog posts */


/* Circle All blog posts */

.blog-title-circle-all {  
    margin: 15px;
    font-size: 20px;
    justify-content: center;
    vertical-align: middle;
    display: inline-flex;
    font-family: inherit;
}

.container-all {   
    justify-content: center; 
    text-align: center; 
}

@media screen and (max-width: 476px) {
    .container-all {
      width: 100%;
    }
  }


.circle-content-all {
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
}

.circle-all {
    display: inline-block;
    padding: 19px;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    width: 250px;
    height: 250px;
    background-color: rgb(146 146 146);
    background: 0px solid transparent;
    border-radius: 100%;
    vertical-align: top;
}

.blog-sample-all {
    font-size: 17px;
}

@media screen and (max-width: 476px) {
    .blog-sample-all {
      display: none;
    }
  }

@media screen and (max-width: 476px) {
  .circle-all { 
    width: 150px;
    height: 150px;
    border-radius: 60%;
    }
}


@media screen and (max-width: 476px) {
    .blog-title-all {  
        margin: 2px;
        font-size: 14px;
        justify-content: center;
        vertical-align: middle;
        display: inline-flex;
    }
}


@media screen and (max-width: 476px) {
.blog-title-circle-all {  
    margin: 5px;
    font-size: 15px;
}
}


.post-date-all {
    font-weight: bold;
}

.circle-link-all {
    color: inherit; 
    text-decoration: inherit;
    background-color: inherit;
  }

  .circle-all:hover {
    background-color: teal;
}

/* Circle blog posts */


/* Goals blog posts */

.goal {
    font-weight: bold;
    text-decoration: underline;
}

.personality {
    max-width: 220px;
    height: auto;
}

.columns-internal {
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}

.column-internal {
    flex: 1 1 200px;
    width: auto;
    min-width: 0;
    margin: 5px;
}


.hp-post-title {
    font-size: 18px;
    margin: 5px;
}