body {
    background: black;
    margin: 0px;
}

.card-link {
    color: inherit; 
    text-decoration: inherit;
    background-color: inherit;
  }


/* Header Navigation 2*/

ul {
    padding-inline-start: 0px;
}

#header-color {
    background-image: url("https://i.pinimg.com/originals/42/8b/f6/428bf69720a90c6a1e069678b40844d5.jpg");
    width: 100%;
    
}

div ul {
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
}

div li {
    display: inline-block;
    font-size: 24px;
}

nav {
    margin: 0px;
}


#main-header {
    text-align: center;
    font-size: 50px;
    width: 100%;
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
}



#home-header {
    text-align: left;
    width: 10%;
}



/* End of Header Navigation */

/* Navigation Bar */

    nav {
        white-space: nowrap;
        background-color: rgb(84 96 178);
        font-size: 25px;
    }

    .navigation {
        white-space: nowrap;
        margin: 0px;
        margin-bottom: 15px;
        text-align: center;
    }

    .categories {
        display: inline-block;
        width: 30%;
    }

    .nav-link {
        color: inherit; 
        text-decoration: inherit;
    }

    .categories:hover {
        color: White;
        background-color: black;
        border: 0px solid transparent;
        border-radius: 25px;
    }

/* End Navigation Bar */



/* Content & Main Styling */

main {
    font-size: 16px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

/* Content & Main Styling */


 /* News Feed */

 .newsfeed {
     width: 30%;
     max-width: 300px;
     min-width: 150px;
     height: 355px;
     display: inline-block;
     background-color: rgb(84 96 178);
     border: 0px solid transparent;
     margin-left: 15px;
     border-radius: 25px;
     padding-bottom: 5px;
     padding-bottom: 25px;
     white-space: normal;
     overflow: auto;
 }

 #postfeed {
     color: white;
     font-family: 'Permanent Marker', cursive;
     font-size: 30px;
    background-color: rgb(84 96 178);
    border : 0px solid transparent;     
     position: sticky;
     top: 0;
     bottom: 0;
     height: auto;
     overflow-y: auto;
 }

.reflection {
    margin: 10px;
 }

 article {
    padding: 5px;
    border: 0px solid transparent;
    border-radius: 25px;    
    background-color: rgb(204, 203, 203);
 }

 .project {
    margin: 10px;
}

/* News Feed Closed */

/* Welcome */

#welcome-message {
    display: inline-block;
    border: 0px solid transparent;
    border-radius: 25px;  
    width: 100%;
    height: 380px;
    vertical-align:top;
    white-space: normal;
    overflow: hidden;
}

/* Welcome Closed */

/* Container */

#container {
    height: auto;
    padding: 10px;
    padding-bottom: 20px;
    border: 0px solid transparent;
    background-color: transparent;
    border-radius: 25px;
    margin-top: 10px;
    justify-content: center;
    display: flex;
    margin: 5px;
}

.contact-img {
    max-width: 50px;
    max-height: 50px;
}

.icons {
    vertical-align: bottom;
}

.icon-img {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: auto;
}

.icons .icon-img li {
    width: 15%;
}

.main-content {
    display: inline-block;
    background-color: rgb(84 96 178);
    border: 0px solid transparent;
    border-radius: 25px;  
    width: 70%;
    vertical-align: top;
    height: 380px;
    max-width: 800px;
}

#profile-image {
    max-width: 150px;
    margin: 15px;
    width: auto;
    padding: 5px;
    height: auto;
    border: 0px solid transparent;
    border-radius: 25px;    
}

.content {
        margin: 0px;
    }
