body
{
    margin: 0;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f4fffe;
}

main 
{
    margin: 5px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.main-4support, .hp-posts
{
    margin-left: 15px;
    margin-right: 15px;
}

:root 
{
    --background: rgb(255, 255, 255);
}

/* Navigation Styling Start */

header
{
    background: var(--background);
    text-align: center;
    position: sticky;
    width: 100%;
    box-shadow: 1px 1px #c5c5c5;


}

nav 
{
    text-align: left;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--background);
    border: 0px transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

.nav-toggle
{
    display: none;
}

.nav-toggle-label
{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}


.home-icon-open
{
    margin-top: 2px;
    width: auto;
    height: 30px;
}



/* Comment out hacky burger logo
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after
{
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}


.nav-toggle-label span::before,
.nav-toggle-label span::after
{
    content: '';
    position: absolute;
}

.nav-toggle-label span::before
{
    bottom: 7px;
}


.nav-toggle-label span::after
{
    top: 7px;
}

 Comment out hacky burger logo */

nav ul 
{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li
{   
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}


nav a
{
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 250ms ease-in-out 250ms;
}

nav a:hover {
    color: purple;
}

header h1 
{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
}


.nav-toggle:checked ~ nav 
{
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a
{
    opacity: 1;
    transition: opacity 150ms ease-in-out;
}


@media screen and (min-width: 700px)
{
    .nav-toggle-label
    {
        display: none;
    }

    header 
    {
        display: grid;
        grid-template-columns: 1fr auto minmax(580px, 1fr) 1fr;
    }

    .logo 
    {
        grid-column: 2 / span 1;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    nav
    {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    nav a 
    {
        opacity: 1;
        position: relative;
    }

    nav a::before
    {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        bottom: -.40em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 255ms;
        transform-origin: right;
    }

    nav a:hover::before
    {
        transform: scale(1,1);
        transform-origin: left;
    }

    nav ul 
    {
        display: flex;
        justify-content: flex-end;
    }

    nav li 
    {
        margin-left: 2em;
        margin-bottom: 0;
        align-items: center;
    }
}

/* Navigation Styling End */

/* Home Welcome Banner Start */



.hp-container 
{
    background-image: linear-gradient( 120deg, #292423 0%, #8250a2 50%, white 50%, white 51%, #9a4bcc 51%, #2c1572 100%);
    height: 300px;
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-wrap: nowrap; 
    justify-content: left;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}


.hp-left
{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    padding-left: 15px;
    justify-content: center;
}

.hp-left > * 
{
    color: #f87f73;
    text-align: center;
    font-size: 25px;
    font-family: 'Permanent Marker', cursive;
    font-weight: lighter;
}

.welcome-title {
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
}

.hp-right 
{
    margin-left: auto;
    width: 40%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

#profile-image 
{
    margin-top: 15px;
    max-width: 150px;
    height: auto;
    border: 0px solid transparent;
    border-radius: 80%;
}

.icon 
{
    max-width: 50px;
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
}

#hp-name
{
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: 'Permanent Marker', cursive;
}



@media screen and (max-width: 700px)
{
    .hp-container 
    {
        background-image: linear-gradient( 160deg, #292423 0%, #8250a2 48%, white 48%, white 49%, #9a4bcc 49%, #2c1572 100%);
        height: auto;
        width: 100%;
        max-width: 1500px; 
        display: block;
        justify-content: left;
        margin-right: auto;
        margin-left: auto;
    }


    .hp-left
    {
        display: block;
        flex-direction: column;
        width: auto;
        padding-left: 0px;
        height: 100%;
        justify-content: center;
        margin-bottom: 60px;
    }

    .hp-left > * 
    {
        color: #f87f73;
        text-align: center;
        font-size: 25px;
        font-family: 'Permanent Marker', cursive;
        font-weight: lighter;
        margin-left: 10px;
        margin-right: 10px;
    }

    .welcome-title {
        font-size: 35px;
        font-weight: bold;
        font-style: italic;
    }

    .hp-right 
    {
        margin-left: auto;
        width: auto;
        height: 100%;
        text-align: center;
        padding: 15px;
    }

    #profile-image 
    {
        max-width: 150px;
        height: auto;
        border: 0px solid transparent;
        border-radius: 80%;
    }

    .icon 
    {
        max-width: 50px;
        height: auto;
    }

    #hp-name
    {
        margin-top: 0px;
        margin-bottom: 5px;
        font-family: 'Permanent Marker', cursive;
    }
}


/* Home Welcome Banner End */


/* Blog Posts Start */

.div-title
{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

.card-link {
    color: inherit; 
    text-decoration: inherit;
  }


.hp-posts {
    margin-top: 20px;
}


.columns {
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    flex: 1 1 200px;
    width: auto;
    min-width: 0;
    background-image: linear-gradient( 160deg, #292423 0%, #8250a2 48%,  #9a4bcc 48%, #2c1572 100%);
    border: 5px solid rgb(146, 146, 146);
    border-radius: 25px;
    margin: 5px;
}

.column:hover {
    background-image: linear-gradient( 160deg, #292423 0%, #8250a2 48%,  #9a4bcc 48%, #2c1572 100%);
    color: white;
    transition: all .3s ease-in;
    transform-origin: top;
}


.post-image {
    margin: 5px;
}


@media screen and (max-width: 1105px) and (min-width: 488px){
    #big-col{
        flex: 1 1 45%;
    }
}

/* Blog Posts end */


/* Building hero four supporting */

.main-4support
{   
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    font-weight: lighter;
    font-family: 'Ubuntu Mono', monospace;
    justify-content: center;
    overflow: hidden;
}

.hero-main
{
    width: 50%;
    margin-left: 2px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border: 5px solid grey;
    border-radius: 25px;
    transition: border 500ms ease-in; 
}

.hero-main:hover
{
    border-color: purple;
    transition: border 500ms ease-out; 
}


.main-content-title
{
    width: 100%;
    text-align: center;
    justify-content: baseline;
}

.main-content-text
{
    width: 100%;
    justify-content: center;
}

.main-title-cols, .cta
{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
}

.main-text-cols
{
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;

}

.main-cta
{
    width: 100%;
    display: block;
}

.cta 
{
    text-decoration: underline;
    font-weight:normal;
    font-family: 'Ubuntu Mono', monospace;
}

.cta:hover
{
    font-weight: 900;
}

.supporting-main
{
    height: 100%;
    width: 50%;
    text-align: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.supporting-tiles
{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: baseline;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 8px;
}

.support-images 
{
    width: 46%;
    height: auto;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 5px;
    padding-right: 5px;
    flex: 1 1 40%;
    border: 5px solid grey;
    border-radius: 25px;
    transition: border 500ms ease-in; 
}

.support-images:hover
{
    border-color: purple;
    transition: border 500ms ease-out; 
    text-decoration: underline;
}

.support-margin
{
    margin-bottom: 1%;
}

.mobile-title
{
    display: none;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

@media screen and (max-width: 716px) {

    .hero-main
    {
        display: none;
    }

    .supporting-main
    {
        width: 100%;
    }

    .support-images
    {
    width: 100%;
    }

    .mobile-title
    {
        display: block;
    }

    .support-images
    {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 1px;
        margin-right: 1px;
    }
    
}


/* Blog Posts check boxes */

.blog-post-checks 
{
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: auto;
}

.check-icons
{
    display: flex;
    flex-wrap: nowrap;
    flex: 1 1 30%;
    justify-content: center;
}

.post-toggle-label
{
    margin-left: 15px;
    margin-right: 15px;
}

.css-check, .html-check, .personal-check
{
    display: none;
    text-align: center;
}


.toggle-css
{
    display: none;
}

.css-check:checked ~ div label div .static-css
{
    display: none;
} 

.css-check:checked ~ div label div .toggle-css
{
    display: flex;
    text-align: center;
} 


.toggle-html
{
    display: none;
}

.html-check:checked ~ div label div .static-html
{
    display: none;
} 

.html-check:checked ~ div label div .toggle-html
{
    display: block;
} 


.toggle-personal
{
    display: none;
}

.personal-check:checked ~ div label div .static-personal
{
    display: none;
} 

.personal-check:checked ~ div label div .toggle-personal
{
    display: block;
} 

label div img
{
    height: auto;
    width: auto;
}

h3
{
    text-align: center;
}


.icon-container
{
    margin: 15px;
    text-align: center;
}


.blog-card, .blog-card-toggle 
{
    text-align: left;
    margin: auto;
    margin-bottom: 10px;
    vertical-align: top;
    height: 200px;
    max-width: 48%;
    flex: 1 1 50%;
    border: 5px solid grey;
    border-radius: 25px;
    transition: border 500ms ease-in; 
    position: relative;
}

.blog-card:hover
{
    border-color: purple;
    transition: border 500ms ease-out; 
    text-decoration: underline;
}

.blog-tag
{
    margin: 15px;
    padding: 8px;
    position:absolute;
    bottom:0;
    border-radius: 25px;
    border: 0px solid transparent;
}

#css
{
    background-color: rgb(105, 173, 209);
}

#personal
{
    background-color: thistle;
}

#html
{
    background-color: orange;
}

h1
{
    text-align: center;
}


.blog-section-all, .blog-section-html, .blog-section-css, .blog-section-personal
{
    height: auto;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.toggle-title
{
    display: none;
}


.blog-section-html,
.blog-section-css,
.blog-section-personal
{
    display: none;
}


.html-check:checked ~ .blog-section-all,
.personal-check:checked ~ .blog-section-all,
.css-check:checked ~ .blog-section-all
{
    display: none;
}

.html-check:checked ~ .blog-section-html
{
    display: flex;
}

.personal-check:checked ~ .blog-section-personal
{
    display: flex;
}

.personal-check:checked ~ #personal-title
{
    display: block;
}

.html-check:checked ~ #html-title
{
    display: block;
}

.css-check:checked ~ #css-title
{
    display: block;
}

.css-check:checked ~ .blog-section-css
{
    display: flex;
}


@media screen and (max-width: 700px) {

    
    .blog-card, .blog-card-toggle 
    {
        max-width: 90%;
        flex: 1 1 100%;
        height: auto;
        padding-bottom: 35px;
    }

    label div img, label div .css-toggle
    {
        height: auto;
        width: auto;
        align-items: center;
        flex: 1 1 30%;
    }


    .check-icons
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .post-toggle-label
    {
        margin-left: 0px;
        margin-right: 0px;
    }
        
}

/* Blog Check box section finished, this was not fun */

/* Blog articles */

.content-div
{
    width: auto;
    max-width: 1200px;
    margin: auto;
    position: relative;
    margin-bottom: 45px;
}

.page-title
{
    font-family: 'Permanent Marker', cursive;
    font-weight: lighter;
}

.content-title
{
    font-family: 'Permanent Marker', cursive;
    font-weight: lighter;
}

.subtitle
{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    font-weight: bolder;
}

.paragraph
{
    margin-left: 5px;
    margin-right: 5px;
}

.content-div:after
{
    content: '';
    width: 100%;
    border-bottom: solid 3px rgb(94, 84, 109);
    position: absolute;
}
